<lv-menu></lv-menu>
<p-table [value]="books">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between table">
      Livros Favoritados
      <p-button icon="pi pi-refresh" (click)="loadBooks()"></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Código</th>
      <th>Autor</th>
      <th>Capa</th>
      <th>Data de Lançamento</th>
      <th>Data incluído</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-book>
    <tr (dblclick)="openDocument(book)" class="line">
      <td>{{book.id}}</td>
      <td>{{book.author}}</td>
      <td><img class="img-book" src="{{book.pictureURL}}" alt="{{book.name}}"></td>
      <td>{{book.releaseDate | date: 'dd/MM/yyyy'}}</td>
      <td>{{book.createdAt | date: 'dd/MM/yyyy'}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      No total há {{books ? books.length : 0 }} livros em seus favoritos.
    </div>
  </ng-template>
</p-table>
